html, body{
  height: 100%;
}

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: -webkit-linear-gradient(rgb(254, 198, 255), rgb(92, 234, 92), rgb(21, 237, 194));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #ee00ff;
  font: 14px;
}

.button {
  align-items: center;
  background-color: #f392d6;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
  text-align: center;
}

.button:hover {
  outline: 0;
  background-color: #166e23;
  color: white; 
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style-position: inside;
  color:rgb(15, 3, 240)
}
